/*设置不同状态链接的颜色*/
a:link{
    color: blue;
}

a:visited{
    color: red;
}

a:hover{
    color: forestgreen;
}

a:active{
    color: darkred;
}

body {
    font-family: 'Microsoft YaHei',Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-image: url(../image/background2.png);
    background-repeat: repeat;
    background-position: right top;
}

div.main_article{
    background-color: antiquewhite;
    background-clip: border-box;
}
h1{
    font-size: 2.1875em;
}

h2{
    font-size: 1.75em;
}

figcaption{
    font-size: 1.75em;
}

p{
    line-height: 0.6;
}

p.greeting{
    font-family: KaiTi, Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-style: italic;
}

p.author{
    font-size: 0.8em;
    font-weight: bold;
}